.leaflet-geojsonlayer-sealevel p {
    margin: 0;
}
.leaflet-geojsonlayer-sealevel h4 {
    margin-top: 3px;
    margin-bottom: 6px;
}
.leaflet-geojsonlayer-sealevel h5 {
    margin-top: 2px;
    margin-bottom: 2px;
}
.leaflet-geojsonlayer-sealevel hr {
    margin-top: 3px;
    margin-bottom: 3px;
}
