.leaflet-layer-sealevel-denmark-header {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 641px) and (min-height: 641px) {
    div.leaflet-control-datetime-title {
        display: block;
    }
    div.leaflet-control-datetime-localtime {
        display: block;
    }
}


